
.Block{
    border: 5px solid black;
    background-size: cover;
    display: flex;
}
.signO{
background-image: url(—Pngtree—black\ cicle\ ring_5487778.png);
}
.signX{
    background-image: url(freepik-export-20240718021229iomx.png);
width: 100px;
height: 100px;
}
.Board{
    /* display: flex; */
    height: 100px;
    width: 100px;
}
.c1{
    display: inline;
}

